/*---Color---*/
$accent-color:#00bc9c; // for button,fonts also
$blue-color:#506a85; //for overflow also
$bgc-footer:#2f4052; 
$bgc-bottom-copyright:#283645;
/*---Gutter block---*/
$gutter-block:30px;